/* This is the universal selector, all HTML elements will have the following styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* The body element will have the background color #d9dcd6 */
body {
    background-color: #d9dcd6;
}

/* Elements with the class "header" will have the following styles */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* "h1" elements within the "header" class will have the following styles */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* "seo" class inside the "h1" element inside the "header" class will have the color #d9dcd6 applied */
.header h1 .seo {
    color: #d9dcd6;
}

/* "div" elements inside the "header" class will have the following styles */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* "ul" elements inside the "div" element inside the "header" class will have the following styles */
.header div ul {
    list-style-type: none;
}

/* "li" element inside the "ul" element inside the the "div" element inside the "header" class will have the following styles */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* "anchor" elements will have the background color of #ffffff */
a {
    color: #ffffff;
    text-decoration: none;
}

/* paragraphs will have the font size 16px */
p {
    font-size: 16px;
}

/* elements with the "hero" class will have the following styles, including a background image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* elements with the "float-left" class will have the following styles - image floats left on the page */
.float-left {
    float: left;
    margin-right: 25px;
}

/* elements with the "float-right" class will have the following styles - image floats right on the page*/
.float-right {
    float: right;
    margin-left: 25px;
}

/* elements with the "content" class will have the following styles - inline-block allows width and height to be applied */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* elements with the "benefits" class will have the following styles - image floats to the right of the "content" class */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* elements with the "benefit" class will have the color of #ffffff and a margin at the bottom of 32px*/
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* "h3" elements inside the "benefit" class will have a margin of 10px at the bottom and the text is centered*/
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* the "img" elements inside the "benefit" class will have the following sizing and display */
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* the "search-online-social" class will have the following sizing, font and colors */
.search-online-social {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* the "img" elements inside the "search-online-social" class will have the max-height of 200px */
.search-online-social img {
    max-height: 200px;
}

/* "h2" elements inside the "search-online-social" class text will have the font size of 36px, and have a margin at the bottom of 20px */
.search-online-social h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* "footer" class will have the following elements */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* "h2" elements inside the "footer" class the text font size will be 20px */
.footer h2 {
    font-size: 20px;
}
